body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}
h1 {
  color: #333;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.gallery img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  width: 1000px;  
}